#transition-wrapper {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: black;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    color: black;
  }
  100% {
    color: white;
    opacity: 1;
  }
}
#transition-wrapper p {
  position: absolute;
  top: 25vh;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 3px;
  width: 100%;
  left: 0;
}
#transition-wrapper span {
  color: black;
  animation: fade-in forwards;
}
.fade {
  transition: .5s;
  opacity: 0;
  z-index: -10;
}